@model DepartmentPersonel.Entities.ApplicationModels.Personel
@{
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
    ViewBag.Title = "Personel Düzenle";
}


@using (Html.BeginForm("Edit", "Personel", FormMethod.Post))
{
    <div class="shadow shadow-lg p-3 mb-5 bg-light rounded mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row mt-3">
                        <label class="col-form-label col-sm-3 font-weight-bold">Departmanı</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(p => p.DepartmentId, new SelectList(ViewBag.PersonelDepartments, "Id", "Name"), "Departman Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.Department, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 font-weight-bold">Personel Adı</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.Name, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 font-weight-bold">Personel Soyadı</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(p => p.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.LastName, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <input type="submit" value="Personeli güncelle" class="btn btn-info col-sm-3" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
