@model DepartmentPersonel.Entities.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Parola sıfırlama";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parola sıfırlama</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/SignInCSS.css" rel="stylesheet" />
</head>
<body class="text-center">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(m => m.Code)
        <form class="form-signin">
            <div class="form-group row">
                <div class="col-sm-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail address", required = "required", autofocus = "autofocus", type = "email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required", type = "password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    @Html.TextBoxFor(m => m.ConfirmPasword, new { @class = "form-control", placeholder = "Password", required = "required", type = "password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPasword, "", new { @class = "text-danger" })
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-group-lg btn-block" value="Change password" />
            <p class="text-muted mb-3">&copy; 2020 Burak BAŞESKİOĞLU</p>
        </form>
    }

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
